---
---

@import"{{ site.theme }}";

.page-header {
    text-align: left;
    background-color: #005556;
    // div {
    // height: 35px;
    //   width: auto;
      background-image: url("/resources/logo_agro_r.png"); 
      background-repeat: no-repeat;
      vertical-align: top;
      //linear-gradient(120deg, #005556, #005556);
    // }
    padding: 1rem 0.5rem;
    // margin-top: 2rem;
    // margin-bottom: 1rem;
//     h1 {
//      color: #ff0000;
//    }
  }

.main-content{
  max-width: 64rem;
    padding: 1rem 1rem;
    margin: 0 auto;
    font-size: .9rem;
    // font-size: 11px;
}